force-app/main/default/flows/SF_Calculating_Final_Price_after_Discount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Total_Plan_Amount</name>
        <label>Calculate Total Plan Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PriceCalculator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Final_Amount</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>discountPercent</name>
            <value>
                <elementReference>varDiscountPrice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>planPrice</name>
            <value>
                <elementReference>varPlanPrice</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PriceCalculator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varTotalAmount</assignToReference>
            <name>totalAmount</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Screen_Input</name>
        <label>Assign Screen Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDiscountPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlanPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plan_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Total_Plan_Amount</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>SF- Calculating Final Price after Discount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF- Calculating Final Price after Discount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Enter_Plan_Price_and_Discount</name>
        <label>Enter Plan Price &amp; Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_Input</targetReference>
        </connector>
        <fields>
            <name>Plan_Price</name>
            <dataType>Number</dataType>
            <fieldText>Plan Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Discount</name>
            <dataType>Number</dataType>
            <fieldText>Discount %</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Amount</name>
        <label>Final Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Total_Amount_Payable</name>
            <fieldText>&lt;p&gt;Total amount payable: {!varTotalAmount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_Plan_Price_and_Discount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varDiscountPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varPlanPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
